doctype html
html(lang='en')
  head
    // 在meta标签中添加返回字符集，否则会在response中显示乱码
    meta(charset='UTF-8')
    title #{title}
    script(type='text/javascript')
  body
    h1 pug - node template engine
    #container
      .col
        p #{name}的 Pug 代码！