<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get And Post</title>
  <style>
    /*和v-cloak指定一起使用，可以隐藏未编译的Mustache标签直到实例准备完毕*/
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
<div id="app" v-cloak>
  <h2>To Do List</h2>
  <div>
    <Form @submit.prevent="onSubmit">
      <input type="text" v-model="value">
      <button type="submit">添加</button>
    </Form>
    <ul>
      <li v-for="todo in toDos" :key="todo.id">{{todo.content}}</li>
    </ul>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    name: 'App',
    data () {
      return {
        value: '',
        toDos: [],
        ids: []
      };
    },
    async mounted () {
      await this.getTodoList();
      this.createId();
    },
    methods: {
      onSubmit () {
        this.addIds();
        // 这里的id不能使用toDos的索引来设置，否则会在删除的时候出现问题
        const tempObj = {
          id: this.ids.slice(-1)[0],
          content: this.value
        };
        // this.toDos.push(tempObj);
        this.value = '';
        axios.post('http://localhost:3000', tempObj).then(
          res => {
            this.toDos = res.data;
          }
        );
      },
      createId () {
        this.toDos.map((todo, i) => this.ids.push(i));
      },
      addIds () {
        // slice: 返回一个新的数组对象，这一对象是一个由begin和end(不包括end)决定的原数组的浅拷贝。原始数组不会被改变
        // 返回截取内容组成的数组
        // 0,-0,null,undefined,'',NaN转换为boolean值都是false
        const newId = this.ids.slice(-1)[0] + 1 || 0;
        this.ids.push(newId);
      },
      getTodoList () {
        return axios.get('http://localhost:3000')
          .then(
            res => {
              this.toDos = res.data;
            }
          );
      }
    }
  });
</script>
</body>
</html>