<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.6.6/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .item {
      font-size: 14px;
      display: flex;
    }

    .box {
      margin: 100px auto;
      width: 480px;
    }

    .text {
      flex: 1;
    }

    .delete {
      display: inline-block;
      width: 60px;
      margin-right: 0;
    }
  </style>
</head>
<body>
<div id="app">
  <el-row class="box">
    <el-col>
      <h1>TodoList</h1>
    </el-col>
    <el-col>
      <el-form @submit.native.prevent inline>
        <el-form-item>
          <el-input v-model="text" placeholder="请输入待办事项"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="onSubmit">添加</el-button>
        </el-form-item>
      </el-form>
    </el-col>
    <el-col>
      <el-card>
        <div v-for="item in todos" :key="item.id" class="item">
          <span class="text">{{item.text}}</span>
          <a class="delete" @click="onDelete(item.id)" href="javascript:;"><i class="el-icon-delete"></i></a>
        </div>
        <div v-if="todos.length === 0">
          暂无数据
        </div>
      </el-card>
    </el-col>
  </el-row>
</div>
<script>
  const baseUrl = 'http://localhost:3000/';
  const vm = new Vue({
    el: '#app',
    data () {
      return {
        text: '',
        todos: []
      };
    },
    mounted () {
      this.getList();
    },
    methods: {
      getList () {
        axios.get(`${baseUrl}api/todos/list`)
          .then(
            res => {
              this.todos = res.data.todos;
            }
          );
      },
      onSubmit () {
        axios.post(`${baseUrl}api/todos/add`, {
          text: this.text
        }).then(
          res => {
            this.text = '';
            this.getList();
          }
        );
      },
      onDelete (id) {
        axios.post(`${baseUrl}api/todos/delete`, { id }).then(
          res => {
            this.getList();
          }
        );
      }
    }
  });
</script>
</body>
</html>
