doctype html
html(lang='en')
  head
    title express
    link(rel='stylesheet', href='/demo3/views/css/index.css', type='text/css')
    //style(type='text/css').
    //  body {padding: 10px;background-color: pink;}
  body
